<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BankProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginS</display-name>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>controllor.login.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/loginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerS</display-name>
    <servlet-name>CustomerS</servlet-name>
    <servlet-class>controllor.customer.CustomerS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerS</servlet-name>
    <url-pattern>/customerS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionS</display-name>
    <servlet-name>TransactionS</servlet-name>
    <servlet-class>controllor.customer.TransactionS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionS</servlet-name>
    <url-pattern>/transactionS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeS</display-name>
    <servlet-name>EmployeeS</servlet-name>
    <servlet-class>controllor.employee.EmployeeS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeS</servlet-name>
    <url-pattern>/employeeS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountS</display-name>
    <servlet-name>CreateAccountS</servlet-name>
    <servlet-class>controllor.employee.CreateAccountS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountS</servlet-name>
    <url-pattern>/createAccountS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountS</display-name>
    <servlet-name>UpdateAccountS</servlet-name>
    <servlet-class>controllor.employee.UpdateAccountProfileS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountS</servlet-name>
    <url-pattern>/updateAccountProfileS</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>100</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DepositeCashS</display-name>
    <servlet-name>DepositeCashS</servlet-name>
    <servlet-class>controllor.employee.DepositeCashS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositeCashS</servlet-name>
    <url-pattern>/depositeCashS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawCashS</display-name>
    <servlet-name>WithdrawCashS</servlet-name>
    <servlet-class>controllor.employee.WithdrawCashS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawCashS</servlet-name>
    <url-pattern>/withdrawCashS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordS</display-name>
    <servlet-name>ForgotPasswordS</servlet-name>
    <servlet-class>controllor.login.ForgotPasswordS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordS</servlet-name>
    <url-pattern>/forgotPasswordS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNewPasswordS</display-name>
    <servlet-name>SetNewPasswordS</servlet-name>
    <servlet-class>controllor.login.SetNewPasswordS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewPasswordS</servlet-name>
    <url-pattern>/setNewPasswordS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyRegisterS</display-name>
    <servlet-name>VerifyRegisterS</servlet-name>
    <servlet-class>controllor.login.VerifyRegisterS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyRegisterS</servlet-name>
    <url-pattern>/verifyRegisterS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpS</display-name>
    <servlet-name>SignUpS</servlet-name>
    <servlet-class>controllor.login.SignUpS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpS</servlet-name>
    <url-pattern>/signUpS</url-pattern>
  </servlet-mapping>
</web-app>